@model mvcCRUD.Models.Domain.Person;

@{
    //Layout = "_Layout";
}

<h1> Welcome to mvcCRUD </h1>
<p> This is a simple application that performs CRUD operations with ASP.NET core with EF core...</p>
<div class="card" style="width: 18rem;">
    <div class="card-img-top" style="background-image: url('https://images.app.goo.gl/RB8gk6cc8Pc65K3LA'); height: 200px;"></div>
    <div class="card-body">
        <h5 class="card-title">mvcCRUD</h5>
        <p class="card-text">CRUD operations with asp.net, entity framework core and bootstrapt for UIs followd by M-V-C. Go to the demo...</p>
        <a href="/Person/DisplayPersons" class="btn btn-primary">Go to Project</a>
    </div>
</div>
